@model Guide

@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Add Guide Page</h1>

<form method="post">
    <div class="form-group">
        @Html.Label("Name Surname")
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <br />
    </div>
    <div class="form-group">
        @Html.Label("Image")
        <input type="text" asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
        <br />
    </div>
    <div class="form-group">
        @Html.Label("Instagram Url")
        <input type="text" asp-for="InstagramUrl" class="form-control" />
        <span asp-validation-for="InstagramUrl" class="text-danger"></span>
        <br />
    </div>
    <div class="form-group">
        @Html.Label("Twitter Url")
        <input type="text" asp-for="TwitterUrl" class="form-control" />
        <span asp-validation-for="TwitterUrl" class="text-danger"></span>
        <br />
    </div>
    <div class="form-group">
        @Html.Label("Description")
        <textarea cols="30" rows="5" class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
        <br />
    </div>
    <br />
    <button class="btn btn-outline-primary">Add Guide</button>
</form>